.mylist {
    list-style-type: none;
    padding: 0;
    margin-bottom: 0;
    overflow-y: scroll;
}

.mylist li {
    padding: 12px 0px 12px 0px;
    border-bottom: 1px solid #23262e;
}

.mylist li a {
    margin: 0px;
    display: block;
    width: 100%;
}

.mylist li:active {
    background-color: #23262e;
}

h1 {
    padding: 0px;
    margin: 0px;
}