.guide {
    border: none;
    display: block;
    overflow: hidden;
    padding-top: 60px;
    height: 100%;
    margin-left: -10px;
}

.plain {
    padding-top: 60px;
}

.plain pre {
    white-space: pre-wrap;
}