name: Build and Release DeckFAQs

on:
  push:
    tags:
    - 'v*'
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '18.3'

      - name: Install Dependencies
        run: npm install

      - name: build
        run: npm run build

      - name: copy files into build
        run: |
          cp main.py ./dist/
          cp plugin.json ./dist/

      - name: Upload package
        uses: actions/upload-artifact@v2
        with:
          name: deckfaqs
          path: |
            ./dist/*
  release:
    if: startsWith(github.ref, 'refs/tags/v')
    runs-on: ubuntu-latest
    steps:
    steps:
      - uses: actions/checkout@v2

      - uses: actions/download-artifact@v3
        with:
        name: deckfaqs

      - uses: ncipollo/release-action@v1
        with:
          artifacts: "deckfaqs"
          bodyFile: "release.md"
          token: ${{ secrets.GITHUB_TOKEN }}